.siteNavigation {
    background-color: #0d98ba;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 70px;
  }
  
  .logoButton {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    cursor: pointer; 
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  
  .menu a {
    text-decoration: none;
  }
  
  .button {
    color: #080202;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    padding: 30px;
    margin: 0;
    cursor: pointer;
  }
  
  .button:hover {
    color: white;
  }


  .footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .column {
    flex-basis: 20%;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  
  #h3f {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #pf {
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
  }
  
  #ulf {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #ulf #lif {
    margin-bottom: 10px;
  }
  
  #af {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .icon {
    margin-right: 10px;
  }


 .photo {
  padding-inline-start: 30%;
height: 500px;
width: 700px;
 }

 .container {
  position: relative;
  text-align: center;
  color: white;
} 

.text {
  position: absolute;
  bottom: 8px;
  left: 16px;
}


.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.building,
.room,
.vent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.building:hover,
.room:hover,
.vent:hover {
  transform: scale(1.05);
}

.building h2,
.room h3,
.vent h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.vent-icon img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
