.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 20px;
  height: 97vh;
  background-color:#fffff2;
}


  .username {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .buttoncontainer {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
  }

  .buttoncontainer :hover {
    color: black;
  }
  
  .fgtpass {
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }

  .loginform {
    width: 50vh;  
    height: 50vh;  
    background-color: rgb(255, 255, 255);  
    padding: 10px;  
    margin-right: 20px;  
    border-radius: 30px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  }
  

  .error {
    color: red;
    font-size: 12px;

  }
  
  .title {
    font-size: 25px;  
    margin-bottom: 20px;  
    display: flex;  
    justify-content: center;  
    color: #035036; 
  }
  
  .label {  
    font-weight: bold;  
    margin-bottom: 10px;  
    color: #555555;  
    border: none; 
 
  }
   
  .siteNavigation { 
      background-color: white;  
      display: flex;  
      align-items: center;  
      justify-content: space-between; 
      padding: 10px 30px;  
      height: 70px;  
    }

    .logoButton {  
      border: none;  
      background: none;  
      font-size: 30px;  
      font-weight: bold;  
      padding: 0;  
      margin: 0;  
      cursor: pointer;  
    }
  
   .menu {
        display: flex;  
      justify-content: flex-end;  
      margin: 0;  
      padding: 0;  
    }
  
    .menu a {  
      text-decoration: none;  
    }
    .button {
        color: #080202;
        border: none;
       background: none;  
      font-size: 16px; 
      font-weight: bold;  
      padding: 30px;  
      margin: 0;  
      cursor: pointer;  
    }
  
      .button:hover {
      color: #A8ECEA;
    }
  
    .footer {
      background-color: #000;
      color: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .column {
      flex-basis: 20%;
      padding: 20px;
      margin-bottom: 20px;
    }

    #h3f {
      color: #fff;
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    #pf {
      color: #ccc;
      font-size: 14px;
      line-height: 1.5;
    }
  
    #ulf {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #ulf #lif {
      margin-bottom: 10px;
    }

    #af {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
    }
  
  
    .icon {
      margin-right: 10px;
    }
