.background{
    background-color: #fffff2;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;  
    gap: 20px;
    height: 97vh;
    display: flex;
  }
  
  .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 40px;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin-top: 30px;
    }
  
    .title {
      text-align: center;
      margin-bottom: 30px;
      color: #333333;
    }
  
    .form {
      display: flex;
      flex-direction: column;
    }

  
    .label {
      margin-bottom: 10px;
      color: #555555;
  
    }
  
  
    .input {
  
      padding: 12px;
      margin-bottom: 20px;
      border: none;
      border-radius: 6px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    }

    .button {

      padding: 12px;
      background-color: #4caf50;
      color: #ffffff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .successMessage {
      margin-top: 30px;
      padding: 20px;
      background-color: #dff0d8;
      border-radius: 6px;
      color: #3c763d;
      text-align: center;
    }

    .siteNavigation {
      background-color: #0d98ba;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;
      height: 70px;
    }
    
    .logoButton {
      border: none;
      background: none;
      font-size: 30px;
      font-weight: bold;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
    
    .menu {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
    }
    
    .menu a {
      text-decoration: none;
    }
    
    .button {
      color: #080202;
      border: none;
      background: none;
      font-size: 16px;
      font-weight: bold;
      padding: 30px;
      margin: 0;
      cursor: pointer;
    }
    
    
  

    
  .footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .column {
    flex-basis: 20%;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  
  #h3f {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #pf {
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
  }
  
  #ulf {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #ulf #lif {
    margin-bottom: 10px;
  }
  
  #af {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .icon {
    margin-right: 10px;
  }